In [23]:
import pandas as pd

In [24]:
users ={'name':    ['jafar', 'Anas', 'Anisha', 'Marusoft'],
        'Age':     [21, 12, 13, 40],
        'state':   ['Lagos', 'London', 'Ogun', 'Oyo'],
        'country': ['Nigeria', 'England', 'Nigeria','Nigeria']}

data = pd.DataFrame(users)
print(data)

       name  Age   state  country
0     jafar   21   Lagos  Nigeria
1      Anas   12  London  England
2    Anisha   13    Ogun  Nigeria
3  Marusoft   40     Oyo  Nigeria

In [25]:
# Write a Python program that reads a text file and counts the number of words in it.
#  Exclude common words like "the," "and," and "in." 
# Display the word count and a list of the most frequently used words.

dfseries = pd.Series([23, 45, 56,70], index=['2017 sales', '2018 sales', '2019 sales', '2020 sales'], name='ballon sales')
print(dfseries)

In [26]:
dfseries = pd.Series([23, 45, 56,70], index=['2017 sales', '2018 sales', '2019 sales', '2020 sales'], name='ballon sales')
print(dfseries)

2017 sales    23
2018 sales    45
2019 sales    56
2020 sales    70
Name: ballon sales, dtype: int64

In [27]:
csvDf =pd.read_csv('./Netflix subscription fee Dec-2021 - Netflix subscription fee Dec-2021.csv')
csvDf
pd.set_option('display')

,Country_code,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($)
0,ar,Argentina,4760,3154,1606,3.74,6.30,9.26
1,au,Australia,6114,4050,2064,7.84,12.12,16.39
2,at,Austria,5640,3779,1861,9.03,14.67,20.32
3,be,Belgium,4990,3374,1616,10.16,15.24,20.32
4,bo,Bolivia,4991,3155,1836,7.99,10.99,13.99
...,...,...,...,...,...,...,...,...
60,ua,Ukraine,5336,3261,2075,5.64,8.46,11.29
61,gb,United Kingdom,6643,4551,2092,7.91,13.20,18.48
62,us,United States,5818,3826,1992,8.99,13.99,17.99
63,uy,Uruguay,4989,3154,1835,8.99,12.99,15.99
64,ve,Venezuela,4797,3154,1643,7.99,10.99,13.99

In [28]:
excelDf = pd.read_excel('./JSS 1 BROADSHEET.xlsx')
excelDf

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,S/N,NAMES,Mathematics,NaN,NaN,English,NaN,NaN,Basic Science,...,NaN,NaN,Islamic Religion Studies,NaN,NaN,TOTAL,AVERAGE,PERCENTAGE,GRADE POSITION,REMARK
3,NaN,NaN,NaN,40,60.0,100.0,40,60.0,100.0,40,...,60.0,100.0,40,60.0,100.0,1100,NaN,NaN,NaN,NaN
4,NaN,1,Dipeolu Abdul-Mujib,14.5,17.0,31.5,18.8,24.6,43.4,28.5,...,32.5,54.1,16.8,28.0,44.8,574.9,52.263636,0.522636,4,NaN
5,NaN,2,Olunloyo Abdul-Azeem O.,25.5,35.0,60.5,32.2,44.3,76.5,34,...,53.0,89.3,35.6,37.0,72.6,887.8,80.709091,0.807091,2,NaN
6,NaN,3,Abdul-Malik Abdul-Rasak,22.7,27.5,50.2,26.6,36.0,62.6,36.5,...,48.0,76.3,24.3,34.5,58.8,832.7,75.7,0.757,3,NaN
7,NaN,4,Baruwa Khalid,35.3,48.5,83.8,29.2,49.2,78.4,34.5,...,55.0,89.0,25.6,31.0,56.6,912.8,82.981818,0.829818,1,NaN
8,NaN,5,Ponle Abdullah,25.2,29.0,54.2,26.5,38.1,64.6,30.5,...,47.5,74.8,30,38.0,68.0,811.7,73.790909,0.737909,NaN,NaN
9,NaN,6,Adepoju Muthmoheenah,29.5,46.0,75.5,30,45.9,75.9,37.5,...,54.5,86.8,32,40.5,72.5,897.6,81.6,0.816,NaN,NaN
10,NaN,7,Adio Mariam M.,29.7,48.0,77.7,29.5,47.5,77.0,24.5,...,54.0,91.0,31.7,36.0,67.7,910.5,82.772727,0.827727,NaN,NaN
11,NaN,8,Ajayi Aishat,29.7,44.0,73.7,31.9,43.0,74.9,40,...,55.5,92.8,36.7,56.0,92.7,976.5,88.772727,0.887727,NaN,NaN
12,NaN,9,Akanbi Labeebah,19.3,23.0,42.3,21,31.5,52.5,23.5,...,27.0,48.6,21.6,27.0,48.6,585.6,53.236364,0.532364,NaN,NaN
13,NaN,10,Dhikirullah Aliyah,33,49.0,82.0,27.5,32.6,60.1,27,...,39.5,68.8,31,31.0,62.0,761.8,69.254545,0.692545,NaN,NaN
14,NaN,11,Ijaoba Aaisha,32.5,50.5,83.0,33.4,51.5,84.9,39,...,52.0,91.3,39.3,52.0,91.3,1004.9,91.354545,0.913545,NaN,NaN
15,NaN,12,Oseni Mariam,13.3,22.5,35.8,21.4,31.0,52.4,31,...,30.0,51.3,22,30.0,52.0,636.2,57.836364,0.578364,NaN,NaN
16,NaN,13,Shittu Nusaybah,12.3,16.0,28.3,17.4,21.0,38.4,26.5,...,27.0,45.0,19,22.0,41.0,462.8,42.072727,0.420727,NaN,NaN
17,NaN,14,Yussuf Fatimah,26.2,43.0,69.2,26,42.0,68.0,34.5,...,46.5,85.1,34.7,41.5,76.2,872.4,79.309091,0.793091,NaN,NaN

In [29]:
textDf =pd.read_excel('./test.xlsx')
textDf

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [45]:
studentMF = { 'name': ['dangote', 'Lafarge', 'Ibeto', 'BUA', 'kunle', 'shayo', 'jackson'],
              'Age': [ '28', '18', '21', '31', '19', '38', '22'],
              'Height':['5', '6', '4', '5', '5', '6', '7'],
              'weight': ['74', '55', '90', '66', '76', '77','56'],
              'Gender': ['M', 'M', 'F', 'M', 'F', 'M', 'F'],
              'Country':['Nigeria', 'China', 'Hungary', 'Spain', 'England', 'Ghana', 'Togo'] }
infoTech =pd.DataFrame(studentMF)
print(infoTech)

      name Age Height weight Gender  Country
0  dangote  28      5     74      M  Nigeria
1  Lafarge  18      6     55      M    China
2    Ibeto  21      4     90      F  Hungary
3      BUA  31      5     66      M    Spain
4    kunle  19      5     76      F  England
5    shayo  38      6     77      M    Ghana
6  jackson  22      7     56      F     Togo