In [4]:
import pandas as pd

In [8]:
users ={'name':    ['jafar', 'Anas', 'Anisha', 'Marusoft'],
        'Age':     [21, 12, 13, 40],
        'state':   ['Lagos', 'London', 'Ogun', 'Oyo'],
        'country': ['Nigeria', 'England', 'Nigeria','Nigeria']}

data = pd.DataFrame(users)
print(data)

       name  Age   state  country
0     jafar   21   Lagos  Nigeria
1      Anas   12  London  England
2    Anisha   13    Ogun  Nigeria
3  Marusoft   40     Oyo  Nigeria